# SLU02 - Programming Basics - Learning notebook 2

### Table of contents
[1. Basic data types](#1.-Basic-data-types)   
&emsp;[1.1 Integers](#1.1-Integers)   
&emsp;[1.2 Floats](#1.2-Floats)   
&emsp;[1.3 Strings](#1.3-Strings)   
&emsp;[1.4 Booleans](#1.4-Booleans)   
&emsp;[1.5 None](#1.5-None)   
&emsp;[1.6 The `type()` function](#1.6-The-type()-function)   
[2. Converting between basic data types using `int()`, `float()`, `str()` and `bool()` functions](#2.-Converting-between-basic-data-types-using-int(),-float(),-str()-and-bool()-functions)   
&emsp;[2.1 The `ValueError`](#2.1-The-ValueError)   
[3. Basic arithmetic operations](#3.-Basic-arithmetic-operations)   
&emsp;[3.1 The `ZeroDivisionError`](#3.1-The-ZeroDivisionError)   
[4. Operator precedence](#4.-Operator-precedence)   
[5. String concatenation and formatting](#5.-String-concatenation-and-formatting)   
&emsp;[5.1 String formatting](#5.1-String-formatting)   
[6. Introduction to variables](#6.-Introduction-to-variables)   
&emsp;[6.1 The `NameError`](#6.1-The-NameError)   
[7. Constants](#7.-Constants)   
[8. Debugging using `print()` - part 2](#8.-Debugging-using-print()---part-2)

Welcome back! In this notebook, you will learn about data types, variables, constants, and a few error types that you will most likely meet during your learning journey.

## 1. Basic data types

Not all data are created equal. Different types of data were developed for specific purposes. We've already seen strings, integers and floats but here we are going to discuss them with a bit more detail.

<img src="./media/letters.gif"/>

### 1.1 Integers

**Integers are numbers that do not have a fractional part.** Negative integers are preceded by a minus sign `-`.

In [1]:
print(-12)

-12

Positive integers are not required to have a preceding plus sign `+` but you can include it if you want.

In [2]:
print(+12)

12

### 1.2 Floats

Floating-point numbers (commonly called floats) are **numbers that have a fractional part.** The integer part is separated from the fractional part by a decimal point `.`.

In [3]:
#Printing float 42.12
print(42.12)
#      ^  ^
#      |  |
#      |  Decimal part
#      Integer part

42.12

Even though the comma `,` is used in some languages to separate the integer part from the fractional part, in Python it's always a **single** decimal point `.`. The comma sign has other purposes and **cannot** be used to write a float number. Using it results in errors or unwanted outcomes.

In [4]:
#In this case, using the comma creates two arguments for the print function.
print(42,12) #This prints the integer 42, a whitespace, and the integer 12.
print(42.12) #This prints the float 42.12

42 12
42.12

If more than a single decimal point is used, the interpreter will return a **syntax error** (that you have already met in the learning notebook 1 :) ).

In [5]:
print(42.000.000)

SyntaxError: invalid syntax (65659858.py, line 1)

You can omit the zero if it is the only digit before or after the decimal point.

In [6]:
print(.4)
print(0.4) #Equivalent

0.4
0.4

In [7]:
print(5.)
print(5.0) #Equivalent

5.0
5.0

One might think that `5.0` and `5` are the exact same thing; for Python these are different numbers:
- `5` is an integer
- `5.0` is a float

**It is the decimal point that defines a float.** Another way to define a float, especially if very large or very small, is to use the scientific notation. In the **scientific notation**, numbers with a lot of zeros can be shortened. For example, the number $ 300000000$ can be written in scientific notation as $ 3 \times 10^8$, thus avoiding to write all the zeros. Try writing $1 \times 10^{50}$ without using the scientific notation. ðŸ™…â€â™‚ï¸

In Python, you can write in the scientific notation with the letter `E` (`e` also works). The letter `E` can be translated as "times ten to the power of".

In [8]:
print(3E2) #This is equivalent to 3.0 * (10 ** 2). 
#Even though both base and exponent are integers, the result is a float.

print(1.2e-4) #This is equivalent to 1.2 * (10 ** -4)
print(1.2e3) #This is equivalent to 1.2 * (10 ** 3)
print(1E50) #This is equivalent to 1. * (10 ** 50)

300.0
0.00012
1200.0
1e+50

Note that the exponent (the value after `E`) **has to be an integer**. The base (the value before `E`) **may be an integer or a float**. Additionally, the result of using the scientific notation **is always a float** even if the base and exponent are both integers.

As with integers, a float can be negative.

In [9]:
print(-12.45)
print(-2.86e4)

-12.45
-28600.0

Python will use the most economical form for representing a number when outputting that number. The value that Python returns to you may have a different representation, but it is still the same number.

In [10]:
print(0.000000000000001)

1e-15

### 1.3 Strings

**Strings are what we colloquially call text.** They can be enclosed in quotes `"This is a string."` or apostrophes `'This is also a string.'`. When printing, the quotation marks are not shown.

In [11]:
print("This is a string.")
print('This is also a string.')

This is a string.
This is also a string.

Using a single quote or apostrophe creates a string that has no end. Python will not be able to find the end of the string and will return a **syntax error**:

In [12]:
#The ) is considered a part of the string
print("This is a )

SyntaxError: EOL while scanning string literal (2811667135.py, line 2)

*What if you want to include a quote inside a string that is delimited by quotes? Or an apostrophe inside a string delimited by apostrophes?* There are two options:

- Use a backslash before the quote/apostrophe to create an escaped character.

In [13]:
print("\"An investment in knowledge always pays the best interest.\" - Benjamin Franklin")
print('\'Everything you can imagine is real.\' - Pablo Picasso')

"An investment in knowledge always pays the best interest." - Benjamin Franklin
'Everything you can imagine is real.' - Pablo Picasso

- Use apostrophes inside two quotes or quotes inside two apostrophes.

In [14]:
print("'Imagination is more important than knowledge...' - Albert Einstein")
print('"There is no harm in doubt and skepticism, for it is through these that new discoveries are made." - Richard Feynman')

'Imagination is more important than knowledge...' - Albert Einstein
"There is no harm in doubt and skepticism, for it is through these that new discoveries are made." - Richard Feynman

Including a quote inside two quotes without escaping it creates a smaller string and leaves a leading quote without a closing one which produces a **syntax error** as can be seen below.

In [15]:
print("This is a string" " )

SyntaxError: EOL while scanning string literal (64466035.py, line 1)

Strings can extend to **more than a single line**. There are two ways to achieve this:
- Use the newline character `\n` to introduce a new line.

In [16]:
print("old pond\nfrog leaps in\nwater's sound\n- Translated BashÅ's \"old pond\"")
#Any space around \n is also part of the string. Try adding a space after \n to see the difference.

old pond
frog leaps in
water's sound
- Translated BashÅ's "old pond"

- Enclose the string in triple quotes `"""`. The ends of lines are automatically included in the string. This can be prevented by adding a `\` at the end of the line.

In [17]:
#The \ prevents the name of the poem to be separated from the author. Delete it to see the difference.
print("""A Silly Poem \
by Spike Milligan

Said Hamlet to Ophelia,
I'll draw a sketch of thee,
What kind of pencil shall I use?
2B or not 2B?
"""
)

A Silly Poem by Spike Milligan

Said Hamlet to Ophelia,
I'll draw a sketch of thee,
What kind of pencil shall I use?
2B or not 2B?

A string can also be **empty**.

In [18]:
print('First empty string:')
print("")
print('Second empty string:')
print('')

First empty string:

Second empty string:

### 1.4 Booleans

Booleans are a bit more abstract than the above mentioned data types. **They represent the value of truthfulness.** When asking to check if a number is greater than another, for instance, Python returns a boolean value to indicate if it is **true** or **false**.

In [19]:
print("Is 2 larger than 1?", 2 > 1)
print("Is 2 smaller than 1?", 2 < 1)

Is 2 larger than 1? True
Is 2 smaller than 1? False

Booleans can only have these two values, `True` or `False`. They are mainly used to make decisions about how to proceed during code execution, e.g. if to continue/stop the execution or which one out of the various available routes to take. This is called flow control and you'll learn about it in great detail in SLU05 - Flow Control.

In Python, `True` is equivalent to the integer `1` and `False` is equivalent to `0`. The distinction was created for clarity (extra fact: the boolean class is a subclass of integers as explained in [PEP285](https://docs.python.org/3/whatsnew/2.3.html#pep-285-a-boolean-type)). Operations that can be done with `0` and `1` can also be performed with `True` and `False`.

In [20]:
print(1 == True) # 1 is the same as True, so it returns "True"
print(1 == False) # 1 is not the same as False, so it returns "False"
print(0 == False) # 0 is the same as False, so it returns "True"

True
False
True

The boolean values **are not equivalent** to the strings `"True"` and `"False"`, even though they look the same when printing.

In [21]:
#These are not the same.
print(True) # <- this is a boolean
print("True") # <- this is a string

True
True

### 1.5 None

Frequently, programming languages have a specific value that means *'empty'* or *'there is no value here'*. In Python that value is `None`. You will see later that a function which does not explicitly return a value will return `None`.

In [22]:
print(None)

None

### 1.6 The `type()` function

When unsure about the data type of a particular value, the function `type()` can be used to [determine the data type](https://docs.python.org/3/library/functions.html#type).

In [23]:
#Don't worry about what class means for now. The data type is shortened and within apostrophes.
print("The data type of 1 is",type(1))
print("The data type of 1. is",type(1.))
print("The data type of -3E2 is",type(-3E2))
print("The data type of 'This is a string.' is",type('This is a string.'))
print("The data type of 'True':",type('True'), "is not the same as the data type of True:", type(True))
print("The data type of None is",type(None))

The data type of 1 is <class 'int'>
The data type of 1. is <class 'float'>
The data type of -3E2 is <class 'float'>
The data type of 'This is a string.' is <class 'str'>
The data type of 'True': <class 'str'> is not the same as the data type of True: <class 'bool'>
The data type of None is <class 'NoneType'>

## 2. Converting between basic data types using `int()`, `float()`, `str()` and `bool()` functions

It is sometimes convenient to transform a value from one data type to another. These conversions can be achieved with the functions `int()`, `float()`, `str()` and `bool()`.

The `int()` function converts its argument into an integer. The decimal part of floats is **removed**. Notice that this is not the same as rounding the float.

In [24]:
print("The result of int(\"4\") is" ,int("4") ,"and the data type is",type(int("4")))
print("The result of int(2.8) is" ,int(2.8) ,"and the data type is",type(int(2.8)))
print("The result of int(True) is" ,int(True) ,"and the data type is",type(int(True)))

The result of int("4") is 4 and the data type is <class 'int'>
The result of int(2.8) is 2 and the data type is <class 'int'>
The result of int(True) is 1 and the data type is <class 'int'>

Some values are not suitable to be converted into an integer and a value error is returned if `int()` is used.

In [25]:
print(int("This is not an integer!"))

ValueError: invalid literal for int() with base 10: 'This is not an integer!'

The `float()` function converts its argument into a float.

In [26]:
print("The result of float(\"4\") is" ,float("4") ,"and the data type is",type(float("4")))
print("The result of float(2) is" ,float(2) ,"and the data type is",type(float(2)))
print("The result of float(\"3E4\") is" ,float("3E4") ,"and the data type is",type(float("3E4")))
print("The result of float(True) is" ,float(True) ,"and the data type is",type(float(True)))

The result of float("4") is 4.0 and the data type is <class 'float'>
The result of float(2) is 2.0 and the data type is <class 'float'>
The result of float("3E4") is 30000.0 and the data type is <class 'float'>
The result of float(True) is 1.0 and the data type is <class 'float'>

As with `int()`, `float()` returns an error if it cannot convert the argument into a float.

In [27]:
print(float("This is not a float!"))

ValueError: could not convert string to float: 'This is not a float!'

The `str()` function converts its argument into a string. Contrary to `int()` and `float()`, `str()` can convert any of the discussed data types into strings.

In [28]:
print("The result of str(\"4\") is" ,str("4") ,"and the data type is",type(str("4")))
print("The result of str(2.3) is" ,str(2.3) ,"and the data type is",type(str(2.3)))
print("The result of str(\"3E4\") is" ,str("3E4") ,"and the data type is",type(str("3E4")))
print("The result of str(True) is" ,str(True) ,"and the data type is",type(str(True)))

The result of str("4") is 4 and the data type is <class 'str'>
The result of str(2.3) is 2.3 and the data type is <class 'str'>
The result of str("3E4") is 3E4 and the data type is <class 'str'>
The result of str(True) is True and the data type is <class 'str'>

The `bool()` function converts its argument into a boolean. It uses the [truth testing procedure](https://docs.python.org/3.8/library/stdtypes.html#truth-value-testing) to define what is converted to `False` or `True`.
The following cases are converted to **`False`**:
- `None` and `False`
- Zero in any numeric type: `0`, `0.0`, ...
- Empty sequences or collections (we will see them in more detail later): `''`, `()`, `[]`, `{}`, ...

Anything else is converted to `True`.

In [29]:
print("The result of bool(1) is", bool(1))
print("The result of bool(0) is", bool(0))
print("The result of bool(2.1) is", bool(2.1))
print("The result of bool(0.0) is", bool(0.0))
print("The result of bool('0') is", bool('0'))
print("The result of bool("") is", bool(""))
print("The result of bool(" ") is", bool(" "))

The result of bool(1) is True
The result of bool(0) is False
The result of bool(2.1) is True
The result of bool(0.0) is False
The result of bool('0') is True
The result of bool() is False
The result of bool() is True

## 3. Basic arithmetic operations

You can write an **arithmetic expression** in a code cell and Python returns the result, just like a calculator!

In [30]:
print(2 + 2)

4

<img src="./media/TomsMindBlown.gif"/>

Some of the operations that can be performed with Python are:
- Addition (`+`)
- Subtraction (`-`)
- Multiplication (`*`)
- Division (`/`)
- Exponentiation or power (`**`)
- Integer division (`//`)
- Remainder (`%`)

All these operations are **binary** because they operate over two values at a time. The negative and positive signs are **unary** because they only operate over a single value.

The plus sign `+` adds up the value of two numbers.

In [31]:
print(2 + 3)
print(2. + 3)
print(2 + 3.)
print(2. + 3.)

5
5.0
5.0
5.0

Pay attention to the data type of the input numbers and the result of the addition. When adding **two integers** the result is **an integer**. If **at least one of the numbers is a float**, then the result is **a float**. We'll call this the *integer vs float* rule.

It is good practice to [leave spaces around binary operators](https://www.python.org/dev/peps/pep-0008/#other-recommendations) to improve the readability of the code.

The minus sign `-` can be used to subtract two numbers. The *integer vs float* rule also applies.

In [32]:
print(2 - 3)
print(2. - 3)
print(2 - 3.)
print(2. - 3.)

-1
-1.0
-1.0
-1.0

It is possible to substract a negative number.

In [33]:
print(2 - -5)

7

The asterisk sign `*` is used to multiply two numbers. The *integer vs float* rule also applies.

In [34]:
print(2 * 3)
print(2. * 3)
print(2 * 3.)
print(2. * 3.)

6
6.0
6.0
6.0

The slash sign `/` is used to divide one number by another.

In [35]:
print(2 / 3)
print(2. / 3)
print(2 / 3.)
print(2. / 3.)

0.6666666666666666
0.6666666666666666
0.6666666666666666
0.6666666666666666

Here the previous *integer vs float* rule does **not** apply. The result of a division is **always a float** even if both numbers are integers and the result could be represented as an integer.

In [36]:
print(12 / 6)

2.0

The double asterisk sign `**` is used to raise a number to the power of another number (exponentiation). The *integer vs float* rule applies.

In [37]:
print(2 ** 3)
print(2. ** 3)
print(2 ** 3.)
print(2. ** 3.)

8
8.0
8.0
8.0

The double slash sign `//` is used to perform an integer division of one number by another. It has two main differences from a division:
- The result has no fractional part. It is **rounded to the nearest integer** value that is **less** than the not rounded result.
- The *integer vs float* rule applies.

In [38]:
print(6 // 4)
print(-6 // 4)
print(6 // 4.)
print(6. // 4.)

1
-2
1.0
1.0

If the division operator was used instead, the result would be `1.5`.

In [39]:
print(6 / 4)

1.5

Note that for negative numbers, the result is still rounded to the nearest **lesser** integer.

In [40]:
#One might think that the result will be -1 or -1.0.
print(-6 // 4) 
print(6 // -4.)

-2
-2.0

The percent sign `%` is used to calculate the value left over after an integer division (remainder). The *integer vs float* rule applies.

In [41]:
print(14 % 3)
print(14. % 3)
print(14 % 3.)
print(14. % 3.)

2
2.0
2.0
2.0

This result was obtained by following this sequence of operations:
- Perform an integer division `14 // 3 = 4`
- Multiply the result by the divisor `4 * 3 = 12`
- Subtract the result from the dividend `14 - 12 = 2`

### 3.1 The `ZeroDivisionError`
Performing a division, integer division or finding the remainder of a division by 0 results in the *ZeroDivisionError* and should be avoided.

In [42]:
print(2 // 0)

ZeroDivisionError: integer division or modulo by zero

## 4. Operator precedence

We have dealt with each operator in isolation but what happens when we use them in the same expression? In expressions with multiple operations, it is vital to take into account the priority of each operation. You probably remember from school that multiplications precede additions and that you have to use brackets to change the order of operations. The order in which operations are performed is called *operator precedence* and can be thought of as a hierarchy of priorities.

- Operations with **higher** priority (called precedence or binding in Python) are performed **before** operations with **lower** priority. 
- When two operations have the same priority, it is the **grouping** that determines which is executed first. Most operations in Python have **left-sided grouping**. This means that the operations are performed from **left** to **right**.

The *operator precedence* table for arithmetic operators is:

<table style='font-family:"Courier New", Courier, monospace; font-size:110% ; border: 1px solid black; '>
   <tr style='border: 1px solid black;'>
      <th style='text-align: left;'>Operations</th>
      <th style='border: 1px solid black; text-align: left;'>Type</th>
      <th style='text-align: left;'>Grouping</th>
      <th style='border: 1px solid black; text-align: left;'>Binding/Priority</th>  
   </tr>
   <tr style='border: 1px solid black;'>  
      <td style='border: 1px solid black; text-align: left;'>()</td>
      <td style='text-align: left;'>Subexpression</td>
      <td style='border: 1px solid black;'></td>
      <td style='text-align: left;'>Highest</td>  
   </tr>
   <tr style='border: 1px solid black;'>
      <td style='border: 1px solid black;text-align: left;'>**</td>  
      <td style='text-align: left;'>Binary</td>
      <td style='border: 1px solid black;text-align: left;'>Right-sided</td>
      <td></td>
   </tr>    
   <tr style='border: 1px solid black;'>
      <td style='border: 1px solid black;'>+-</td>  
      <td style='text-align: left;'>Unary</td>
      <td style='border: 1px solid black;'></td>
      <td></td>
   </tr>    
   <tr style='border: 1px solid black;'>
      <td style='border: 1px solid black;text-align: left;'>* / %</td>  
      <td style='text-align: left;'>Binary</td>
      <td style='border: 1px solid black;text-align: left;'>Left-sided</td>
      <td></td>
   </tr>    
   <tr style='border: 1px solid black;'>
      <td style='border: 1px solid black;text-align: left;'>+ -</td>  
      <td style='text-align: left;'>Binary</td>
      <td style='border: 1px solid black;text-align: left;'>Left-sided</td>
      <td style='text-align: left;'>Lowest</td>
   </tr>            
</table>

Notice that if you need to change the default order of operations, you need to use brackets. There are additional operations that we'll explore in SLU05 - Flow Control. For more information and the complete *operator precedence* list check [here](https://docs.python.org/3/reference/expressions.html#operator-precedence).

Consider the examples:

In [43]:
#The first operation performed: 2 * 3 = 6
#The second operation performed: 2 + 6 = 8
print(2 + 2 * 3)

8

In [44]:
#First operation performed: 12 // 3 = 4
#Second operation performed: 4 // 2 = 2
#Left-sided grouping
print(12 // 3 // 2)

#Introducing parenthesis (highest priority) to force the right operation to be performed first.
#First operation performed: 3 // 2 = 1
#Second operation performed: 12 // 1 = 12
print(12 // (3 // 2))

2
12

In [45]:
#// and * have the same priority and both have left-sided grouping.
#The first operation performed: 2 // 3 = 0
#The second operation performed: 0 * 3 = 0
print(2 // 3 * 3)

#The first operation performed: 3 * 2 = 6
#The second operation performed: 6 // 3 = 2
print(3 * 2 // 3 )

0
2

As you can see, the integer division and multiplication have **left-sided grouping**, so the operations are performed from left to right. Changing the order of execution of the operations with parenthesis will (in 99.(9)% of the cases) produce **different results**. 

**TIP:** If your calculations are returning the wrong results, make sure that *the order of the operations is defined as wanted* and *the parenthesis are well placed*.

One operation that has **right-sided grouping** is the exponentiation:

In [46]:
#First operation performed: 2 ** 3 = 8
#Second operation performed: 2 ** 8 = 256
#Right-sided grouping
print(2 ** 2 ** 3)

#Introducing parenthesis (highest priority) to force the left operation to be performed first.
#First operation performed: 2 ** 2 = 4
#Second operation performed: 4 ** 3 = 64
print((2 ** 2) ** 3)

256
64

NOTE: There is an exception for the exponentiation where the positive and negative signs have higher priority if on the right side of `**`.

In [47]:
#Here the exponentiation has higher priority than the negative sign, so it is performed first.
print(-2 ** 2)
#Equivalent to
print(- (2 ** 2))

#Here the negative sign is on the right side and has higher priority than the exponentiation, so it is performed first.
print(2 ** -2)
#Equivalent to 
print(2 ** (-2))

-4
-4
0.25
0.25

## 5. String concatenation and formatting

Operations are not limited to numbers. It is possible to manipulate text with Python.

One such operation is called *string concatenation*. String concatenation combines two strings and merges them into one string. To concatenate two strings in Python, the plus sign `+` is used.

In [48]:
#The string "Hello " is merged with the string "there."
print("Hello " + "there.")

Hello there.

In [49]:
print("You " + "can " + "merge " + "as " + "many " + "strings " + "in " + "a " + "row " + "as " + "you "+ "like.")

You can merge as many strings in a row as you like.

In [50]:
print("The order of the characters " + "is preserved in the resulting string.")
print("String 1 " + "String 2 " + "String 3")

The order of the characters is preserved in the resulting string.
String 1 String 2 String 3

You can repeat the same string multiple times with an asterisk sign `*` and an integer number.

In [51]:
print("""Multiplying one integer with a string produces a string that is the concatenation \
of the string repeated by the value of that integer.
For example: 4 * \"ABC\" results in """ + 4 * "ABC")

Multiplying one integer with a string produces a string that is the concatenation of the string repeated by the value of that integer.
For example: 4 * "ABC" results in ABCABCABCABC

### 5.1 String formatting

How can we include numbers into a string? Can you concatenate them just like that?

In [52]:
print("There are " + 123 + " boxes of sweets in a store. There are " + 25
      + " sweets in each box.\nHow many sweets are there in the store? " + 123 * 25)

TypeError: can only concatenate str (not "int") to str

Uhm, you can't :) Strings cannot be concatenated with numbers. First we have to convert the numbers to strings:

In [53]:
print("There are " + str(123) + " boxes of sweets in a store. There are " + str(25)
      + " sweets in each box.\nHow many sweets are there in the store? " + str(123 * 25))

There are 123 boxes of sweets in a store. There are 25 sweets in each box.
How many sweets are there in the store? 3075

It's quite cumbersome to have to split the string into pieces and concatenate the converted values. There are [several methods to simplify this process](https://www.python.org/dev/peps/pep-3101/#format-strings). These will become very useful once you'll want to print numerical variables. We will explore the two most used methods:

1. The `.format()` method. Strings have the method `.format()` where the arguments are "inserted" inside the string. You can use positional arguments (the order of the argument in the string) or keyword arguments (the name of the argument in the string). I recommend going [here](https://docs.python.org/3/library/string.html#formatstrings) for additional examples of the capabilities of `.format()`.

In [54]:
print("""There are {0} boxes of sweets in a store. There are {1} \
sweets in each box.\nHow many sweets are there in the store? {result}""".format(123, 25, result=123 * 25))

There are 123 boxes of sweets in a store. There are 25 sweets in each box.
How many sweets are there in the store? 3075

2. Using [formatted strings](https://www.python.org/dev/peps/pep-0498/) aka f-strings. f-strings are strings that are prefaced with the letter `f`. In these strings, expressions can be introduced using curly braces `{}`. You can see that the expressions have a different color than the string. The notebook takes into account that it is a f-string and automatically shows every expression as code, improving readability. This does not happen with `.format()`.

In [55]:
print(f"""There are {123} boxes of sweets in a store. There are {25} \
sweets in each box. How many sweets are in the store? {123 * 25}""")

There are 123 boxes of sweets in a store. There are 25 sweets in each box. How many sweets are in the store? 3075

For each case, you should use the method that is simpler to read.

## 6. Introduction to variables

We performed a lot of arithmetical and string operations in this notebook, but we cannot use the results further. The values were calculated and printed to the screen, but not stored for later usage. How can we store values? In variables!

*Variables* are **containers** that allow to **store the values of calculations** and use these values in subsequent operations. A variable is defined by its **name** and its **value**.

To create a variable, the programmer must first name it. Variable naming has some rules that have to be followed:

- the name of the variable can **only** be composed of **upper- and lower-case letters**, **digits** and the underscore character `_`. The characters are not required to be Latin letters.
- the name has to **start with a letter**.
- the **underscore is considered a letter**.
- the upper- and lower-case letters are considered to be different. `POTATOES` and `potatoes` are two distinct variables.
- the name cannot be one of Python's reserved keywords or [built-in functions](https://docs.python.org/3/library/functions.html#built-in-functions). This rule can "technically" be broken but **shouldn't**. You can, for instance, replace the `print()` function with a variable called `print`. Python forgets what `print()` does and all examples in the notebook start producing errors. You'll need to restart the Kernel (top of the notebook: Kernel > Restart) for the `print()` function to be available again.

The reserved keywords are names that have specific purposes in the Python language and **should not be used for naming**. They can be accessed with `help('keywords')`.

There are several [naming conventions](https://www.python.org/dev/peps/pep-0008/#naming-conventions) that you can follow to help you name variables.

In [56]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

Here are some examples of names that can be used for variables:

`FirstVariable`

`j`

`v23`

`counter`

`_max_position_`

`index`

`An_Extremely_Long_Variable_Name_That_You_Are_Definitely_Never_Going_To_Misspell`

`Ovo_da_PÃ¡scoa_Abaixo` (use of accented letters)

`å¤æ± ã‚„è›™é£›ã³è¾¼ã‚€æ°´ã®éŸ³` (use of non latin characters)

A variable can store any value of the data types above but also many more that we haven't seen yet. The stored value is called the **value of the variable** and it can change at any given time. Not only can the value change within the same data type but the data type can also change. For instance, a variable can have an integer value and later a float value.

A variable is created when a value is **assigned** to it. If a value is assigned to a variable that does not exist, the variable is created **automatically**.

To create a variable, write the **name of the variable**, the **equal sign** `=`, and then the **value** that you want to put into the variable. We call this process **variable assignment**. The equal sign `=` is **not** treated as *equal to*, but instead assigns the **right value** to the **left variable** (*equal to* is this `==`).

In [57]:
variable_name = 3

The expression above did not produce an output, but created the variable `variable_name` with the integer value `3`. To verify the value of the variable, you can use the `print()` function.

In [58]:
print(variable_name)

3

The value `3` is stored inside `variable_name` and can be used in later calculations and cells. You can use as many variables as needed to perform the intended tasks.

In [59]:
a = 1
b = 2.
c = "This is a string."
print(a,b,c)

1 2.0 This is a string.

### 6.1 The `NameError`
You cannot use a variable that was not previously assigned. Doing so results in a *NameError*.

In [60]:
print(A)

NameError: name 'A' is not defined

The value of a variable can be changed by assigning a new value to the variable.

In [61]:
a = 2
#Variable `a` had value 1 before and now it has value 2.
print(a)

2

The right argument of the assignment (after the `=` sign) can be any valid expression that we talked about before. The equal sign `=` has lower priority than the above mentioned operators, so it is executed last.

In [62]:
e = "First part,"
f = " second part."
g = e + f
print(g)

First part, second part.

Sometimes we want to use the same variable on both sides of the `=` operator to update the value of this variable.

In [63]:
d = 1
d = d + 1
print(d)

2

This expression can be simplified using **shortcut operators**. Shortcut operators allow to write expression like `variable = variable + expression` as `variable += expression`. This is valid for the binary operators that we discussed earlier.

In [64]:
counter = 1
counter += 1
print(counter)

2

In [65]:
fraction = 256
fraction /= 2 #Equivalent to fraction = fraction / 2
print(fraction)

128.0

In [66]:
money = 1000
tax = 0.05
money *= (1 - tax) #Equivalent to money = money * (1 - tax)
print(money)

950.0

## 7. Constants

When reviewing code from other programmers or when using modules, you might encounter variables with names written in all capital letters with underscores separating words. This is a [convention](https://www.python.org/dev/peps/pep-0008/#constants) to define that variable as a **constant**. You should **avoid** changing the value of constants that you didn't define yourself. You can also use this convention for the same purpose, especially when writing modules.

In [67]:
GRAVITY_EARTH = 9.81
PI = 3.14159

## 8. Debugging using `print()` - part 2 

As your code uses more and more operations, it can get hard to follow what is happening under the hood. This will be evident when you stumble upon an error and you do not know the cause, like in the example below. Consider the case where we want to divide a number by `2` many times.

In [68]:
# You will learn a better way to do this later
a = 20
a //= 2
a //= 2
a //= 2
a //= 2
a //= 2
a //= 2
a //= 2

Executing the code does not provide any indication on how the value of `a` changes over the performed operations. What is the final value of `a`?

In [69]:
print(a)

0

Why is the value of `a` zero? Let's use the `print()` function in the intermediate operations, so we can check how the value of `a` changes and get clues on what is happening.

In [70]:
a = 20
a //= 2
print(a)
a //= 2
print(a)
a //= 2
print(a)
a //= 2
print(a)
a //= 2
print(a)
a //= 2
print(a)
a //= 2
print(a)

10
5
2
1
0
0
0

Why is `5/2` equal to `2`? Oh, it seems that we have used the integer division instead of the regular division. How silly. Now that we have identified the problem, we can fix it.

In [71]:
a = 20
a /= 2
a /= 2
a /= 2
a /= 2
a /= 2
a /= 2
a /= 2
print(a)

0.15625

Fixed! When you have a problem with your code, either an error or a strange result, try to use `print()` to see what your code is doing.

## Recap

- You can use different types of data and operations to get the results you want.
- If your calculations are giving unexpected results, check the **operator precedence**.
- If you don't want to lose the results, you can **assign them to variables** to use later.
- Use the `print()` function to inspect your code, specially when you get errors or wrong results.